.templates-code {
	
}

.getCode {
    font-size: 16px !important; /* Adjust the size as needed */
}

.hidden {
    display: none;
}
  
.code-contents{
    text-align: left;
}

.code-styles{
    background: #35384b;
    color: white;
    padding: 2%;
    font-size: 16px;
}

.code-header{
    background: aliceblue!important;
}